
/*TABLE STYLE*/
/*
Add border-collapse to ensure there is no space between the cell borders.
Add box-shadow to add a subtle transparent shadow around the table.
*/
.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

/*TABLE HEADER*/

/*backgound color, font color and text align*/
    .styled-table thead tr {
        background-color: #e0c7ff;
        color: #000000;
        text-align: left;
        display: block;
    }

/* TABLE CELLS*/

/*Space out the table cells*/
.styled-table th,
.styled-table td {
    padding: 12px 15px;
}

/* TABLE ROWS*/

.styled-table tbody {
    display: block;
    overflow: auto;
    height: 900px;
    width: 100%;
    color: #000000;
}

/*Add a bottom border to each row for separation*/
    .styled-table tbody tr {
        border-bottom: 1px solid #dddddd;
        background-color: #f3eaff;
    }

/*Add a lighter background to every second row to help readability*/
.styled-table tbody tr:nth-of-type(even) {
    background-color: #ffffff;
}

/*Add a dark border to the very last row to signify the end of the table*/
.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}