@page "/bmi"

@using System.ComponentModel.DataAnnotations

<EditForm Model="bmiInputs" OnValidSubmit="calculateBMI">
    <DataAnnotationsValidator></DataAnnotationsValidator>
    <ValidationSummary></ValidationSummary>
    <div class="row">
        <div class="col-sm-4">
            <div class="card">
                <h3 class="card-header">BMI Calculator</h3>
                <div class="card-body">
                    <h5 class="card-title">Standard</h5>
                    <p class="card-text">
                        <label>
                            Weight (lbs):
                            <InputNumber placeholder="0.0" @bind-Value="bmiInputs.w_pounds" />
                        </label>
                    </p>
                    <p class="card-text">
                        <label>
                            Height (in):
                            <InputNumber placeholder="0.0" @bind-Value="bmiInputs.h_inches" />
                        </label>            
                    </p>

                    <p><input type="submit" class="btn btn-dark" value="Calculate"/></p>

                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"><b>BMI:</b> @bmiInputs.totalBMI</li>
                    </ul>

                </div>
            </div>
        </div>

        <div class="col-sm-6">
            <div class="card">
                <h3 class="card-header">BMI Categories</h3>
                <div class="card-body">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Underweight = 18.5</li>
                        <li class="list-group-item">Normal weight = 18.5–24.9</li>
                        <li class="list-group-item">Overweight = 25–29.9</li>
                        <li class="list-group-item">Obesity = BMI of 30 or greater</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</EditForm>

@code{

    InputsBMI bmiInputs = new InputsBMI();

    private void calculateBMI(){

        // Weight - convert lb to kg (lb/2.2046)
        double weight = (bmiInputs.w_pounds / 2.2046);

        //Height - convert inch to cm (inches * 2.54)
        double height = (bmiInputs.h_inches * 2.54);

        // Calculate BMI
        //Formula: [weight (kg) / height (cm) / height (cm)] x 10,000
        bmiInputs.totalBMI = ((weight / height) / height * 10000);

    }
    public class InputsBMI{
        [Required]
        [Range(7, 2000)]
        public int w_pounds {get; set;}
        [Required]
        [Range(19, 118)]
        public int h_inches {get; set;}
        public double totalBMI=0;
    }

}
